html,body{
	width: 100%;
	height:100%;
	font-family: 'Montserrat';
	  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
	font-size: 2rem;
	color: #53ff7c;
}
hr{
	border-color: #EE4B08;
	border-width:3px;
	max-width: 65px;

}
.buffer{
	height:15rem;
}
.btn{
	font-weight: 1000;
	
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-xl{
	padding: 0.5rem 0.5rem;
}
.btn-primary{
	background-color: #F05F44;
	border-color: #F05F44;
}
.btn-primary:hover{
	background-color: #EE4B08;
	border-color: #EE4B08;
	border-width: 4px;
}